*{
    box-sizing: border-box;
    margin: 0;
    padding: 0    
}
li{
    font-style: Arial, Helvet;
    font-size: 20px;
}

h2{
    font-style: italic;
    font-size: 40px;
    color: rgb(63, 51, 236);
    margin-bottom: 10px;
}
.main-nav{
    
    list-style: none;
    background-color: rgb(26, 108, 201);
    text-align:center;

}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: beige;
    padding: 10px;
    text-decoration: none;
}
.main-nav__item a:hover {
    color: Blue;
}
.main-nav__item a:active {
    color: rebeccapurple;
}
.main-nav__item a::after {
    content: " | ";
}
img{
    width: 50%;
}
body{
    font-size: 20px;
}
.contenido{
    display: flex;
    padding: 20px;
    background-color: beige;
    justify-content: space-around;
}
.segundo{
    padding : 20px;
    background-color: beige;;
    display: flex;
    justify-content: space-around;
}

figure{ 
    text-align:center;
}